[Desktop Entry]
Version=1.0
Type=Application
Name=SPED ECF
Name[pt_BR]=SPED ECF
GenericName=Fiscal Accouting Bookkeeping (ECF) Validator
GenericName[pt_BR]=Validador de Escrituração Contábil Fiscal (ECF)
Exec=/usr/bin/irpjpva
Icon=br.gov.serpro.sped.irpjpva
Path=/opt/sped/ecf
Terminal=false
StartupNotify=true
Categories=Office;Finance;
