Source: sped-fiscal
Maintainer: Cpuhouse Packaging System <packaging@cpuhouse.com.br>
Section: libs
Priority: optional
Build-Depends: debhelper (>=10), git-annex, openjdk-8-jre-headless
Standards-Version: 4.0.0

package: sped-fiscal
Section: database
Architecture: any
Depends: ${misc:Depends}, 
         python3-distro,
         desktop-file-utils,
         libc6:i386,
         debconf (>= 0.5.00)
Suggests: openjdk-8-jre-headless
Priority: optional
Description: Brazilian SPED Fiscal (ICMS/IPI) generator
 This package provides the generator for the Digital Tax Bookkeeping
 of taxes levied on Revenue (EFD ICMS/IPI) and is part of the
 Brazilian Public Digital Bookkeeping System (SPED).
