#!/usr/bin/make -f

JAVA=$(shell readlink -es `which java`)
INSTALL=install -v -D -oroot -groot -m0644
INSTALL_D=install -v -d -oroot -groot -m0755
RM_RF=rm -rf

PROJECT=$(shell grep -m1 -iE '^Source:' debian/control | awk '{print $$2}')
VERSION=$(shell grep -m1 -iE "^$(PROJECT)\ \(.*\)" debian/changelog | cut -d\( -f2 | cut -d\) -f1)
APPNAME=$(shell echo $(PROJECT) | sed -e 's/.*-//')
PROGNAME=$(APPNAME)pva

INSTALLER=$(shell jq .sources.$(BUILD_ARCH).file sources.json | \
   sed -e "s/\"//g; \
       s/\$${name}/$(shell jq .sources.$(BUILD_ARCH).name sources.json | sed 's/\"//g')/; \
       s/\$${version}/$(VERSION)/;" \
)


%:
	dh $@

override_dh_prep:
	dh_prep
	git annex get
	sh sources/$(INSTALLER) -q -dir $(shell pwd)/debian/sped-$(APPNAME)/opt/sped/$(APPNAME)

override_dh_auto_build:

override_dh_install:
	dh_install
	$(INSTALL_D) debian/sped-$(APPNAME)/
	$(INSTALL_D) debian/sped-$(APPNAME)/usr/bin/
	$(INSTALL_D) debian/sped-$(APPNAME)/usr/share/applications/
	$(INSTALL_D) debian/sped-$(APPNAME)/usr/share/fonts/truetype/
	$(INSTALL_D) debian/sped-$(APPNAME)/usr/share/icons/hicolor/128x128/apps/
	$(RM_RF) ./$(DESTDIR)/Uninstaller
	$(INSTALL) sources/$(PROGNAME) debian/sped-$(APPNAME)/usr/bin/
	$(INSTALL) sources/br.gov.serpro.sped.$(PROGNAME).png debian/sped-$(APPNAME)/usr/share/icons/hicolor/128x128/apps/
	$(INSTALL) sources/br.gov.serpro.sped.$(PROGNAME).desktop debian/sped-$(APPNAME)/usr/share/applications/
	$(INSTALL) sources/arial.ttf debian/sped-$(APPNAME)/usr/share/fonts/truetype/

override_dh_strip:

override_dh_strip_nondeterminism:

override_dh_shlibdeps:
